body {
  background-color: #003049;
}
.font {
  font-family: Helvetica;
}
.title {
  font-size: 50px;
  margin-top: 120px;
  font-family: Helvetica;
  font-weight: bolder;
  padding: 10px;
  color: aliceblue;
}
.panel {
  background-color: antiquewhite;
}
.btn {
  width: 100%;
}
#login {
  background-color: #003049;
  border-color: #003049;
}
#register {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}
textarea {
  resize: none;
}
select {
  cursor: pointer;
}
